<DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body{background:#fafafa;}
.active{background:#1da1f2 !important;color:#fff !important;}
.tab {margin: 3em 0 1em 0;}
.tablinks{background:#fff;font-size:2em;border:none;padding:0 1em;color:#b6b6b6;}
.tablinks:hover {border-bottom:3px solid #1da1f2;}
#firstTab .row .col-md-6 a {font-size:2em;color:#fff;}
#firstTab .row .col-md-6 {background:#1da1f2;padding:0.5em 1em;margin-bottom:1em;border-radius:3px;}
#firstTab .row .col-md-6:hover {padding:1em 2em;}
#firstTab .row {margin: 2.5em 1em;}
.col-md-6 a:hover{text-decoration:none;}
table tr th,td {font-size:1.2em;padding:0.5em 1em;margin-bottom:1em;border:2px dotted #dddddd;}
table tr th {padding:1em 1em !important;background:#e6e6e6;}
table {border-collapse: collapse;margin-top:3em;}
table tr:last-child {border-bottom:2px solid #dddddd !important;}
table tr:last-child td:first-child{border-left:2px solid #dddddd !important;}
</style>



</head>
<body>

<div class="tab text-center">
  <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'firstTab')">Tab-One</button>
  <button class="tablinks" onclick="openTab(event, 'secondTab')">Tab-Two</button>
</div>

<div id="firstTab" class="tabcontent container">
<div class="row">
    <% contacts.forEach(function(contact) { %>
          <div class="col-md-offset-3 col-md-6 text-center">
            <a href="/list/<%=contact.id%>"><%=contact.first %> <%= contact.last %></a>
          </div>
    <% }); %>
    </div>
</div>

<div id="secondTab" class="tabcontent">
 <table class="container">
  <tr class="row">
    <th class="col-md-4 text-center">Name of Contact</th>
    <th class="col-md-4 text-center">Created At</th>
    <th class="col-md-4 text-center">OTP</th>
  </tr>
    <% for(var i=inputs.length-1;i>=0;i--) { %>
        <tr class="row">
          <td class="col-md-4 text-center">
            <%=inputs[i].firstName %>-<%=inputs[i].lastName%>
          </td>
          <td class="col-md-4 text-center">
            <%=inputs[i].createdAt%>
          </td>
          <td class="col-md-4 text-center">
            <%=inputs[i].otp%>
          </td>
        </tr>
    <% } %>
</table>

</div>
</body>
</html>
<script>
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

document.getElementById("defaultOpen").click();
</script>
